trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

steps:

  - task: JavaToolInstaller@0
    displayName: 'Selecionar Java 21'
    inputs:
      versionSpec: '21'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  - script: |
      echo ">>> Verificando versão do Java"
      java -version
      mvn -version
    displayName: 'Verificar versões'

  - task: Maven@3
    displayName: 'Build Maven'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-DskipTests=true'
      publishJUnitResults: false

  - task: PublishBuildArtifacts@1
    displayName: 'Publicar Artefatos'
    inputs:
      PathtoPublish: '$(System.DefaultWorkingDirectory)/target'
      ArtifactName: 'java-app'
      publishLocation: 'Container'
