trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

steps:


  - script: |
      echo ">>> Selecionando Java 21..."
      sudo update-alternatives --set java /usr/lib/jvm/msopenjdk-21-amd64/bin/java
      sudo update-alternatives --set javac /usr/lib/jvm/msopenjdk-21-amd64/bin/javac
      java -version
      javac -version
    displayName: 'Configurar Java 21'


  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-DskipTests=true'
      publishJUnitResults: false
    displayName: 'Build Maven'


  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(System.DefaultWorkingDirectory)/target'
      ArtifactName: 'java-app'
      publishLocation: 'Container'
    displayName: 'Publicar Artefatos'
