trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: SkillBridge-ACR     # usa o grupo de variáveis do ACR
  - name: IMAGE_NAME
    value: 'skillbridge-api'

steps:
  - task: JavaToolInstaller@0
    displayName: 'Selecionar Java 21'
    inputs:
      versionSpec: '21'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  - script: |
      echo ">>> Verificando versões"
      java -version
      mvn -version
    displayName: 'Verificar versões'

  - task: Maven@3
    displayName: 'Build Maven'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-DskipTests=true'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/*.xml'

  - script: |
      echo ">>> Logando no ACR..."
      echo $(ACR_PASSWORD) | docker login $(ACR_LOGIN_SERVER) -u $(ACR_USERNAME) --password-stdin
      
      echo ">>> Buildando imagem..."
      docker build -t $(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(Build.BuildId) .

      echo ">>> Criando tag 'latest'..."
      docker tag $(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(Build.BuildId) \
                  $(ACR_LOGIN_SERVER)/$(IMAGE_NAME):latest

      echo ">>> Enviando imagens para o ACR..."
      docker push $(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(Build.BuildId)
      docker push $(ACR_LOGIN_SERVER)/$(IMAGE_NAME):latest
    displayName: 'Build e Push Docker para ACR'

  - task: PublishBuildArtifacts@1
    displayName: 'Publicar Artefatos'
    inputs:
      PathtoPublish: '$(System.DefaultWorkingDirectory)/target'
      ArtifactName: 'java-app'
      publishLocation: 'Container'
