trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

steps:

  - task: UseJavaVersion@1
    inputs:
      versionSpec: '21'
      architecture: 'x64'
      jdkSourceOption: 'PreInstalled'

  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-DskipTests=true'

      publishJUnitResults: false


  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(System.DefaultWorkingDirectory)/target'
      ArtifactName: 'java-app'
      publishLocation: 'Container'
